body {
    font-family: sans-serif;
}
.container {
    max-width: 50em;
    border: 1px solid gray;
    margin: 7em auto;
}

.startButton, #toggleFx {
    display: block;
    margin: 4em auto 4em;
}

#listContainer {
    padding: 1em;
}
